header {
  background-color: rgb(226, 153, 33);
  color: white;
  margin: 0 0 30px 0;
  padding: 20px 0 0 20px;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

select {
  background-color: rgb(226, 168, 72);
  color: white;
  margin-bottom: 8px;
  margin-right: 8px;
}

header label {
  margin-right: 4px;
}

.car {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 16.85%;
}

.car img {
  height: auto;
  width: 100%;
}

.car p {
  padding: 3px 0 3px 0;
}

.car button {
  background-color: rgb(226, 153, 33);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}
